# Midje related snippets
snippet fact
	(fact "${1:checking something}"
	  ${2})

snippet is
	(${1} => ${2})

snippet not
	(${1} =not=> ${2})

snippet exactly
	(exactly ${2:function})

snippet roughly
	(roughly ${2:number} ${3:range})
